<?xml version="1.0" encoding="utf-8"?>
<robot name="imu" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <link name="imu_link"/>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-${0.297 - 0.1481 -0.064} 0 ${0.125963557909225 - 0.045}"
      rpy="0 0 ${M_PI}"/>
    <parent
      link="base_link"/>
    <child
      link="imu_link"/>
  </joint>
</robot>
