<?xml version="1.0"?>
<launch>
    <arg name="odom_frame"  default="odom"/>
    <arg name="base_frame"  default="base_footprint"/>
    <arg name="depth_camera_name"   default="camera"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find jetauto_description)/urdf/jetauto.urdf.xacro' odom_frame:=$(arg odom_frame) base_frame:=$(arg base_frame) depth_camera_name:=$(arg depth_camera_name) lidar_view:=false" />
    <node
      name="joint_state_publisher_gui"
      pkg="joint_state_publisher_gui"
      type="joint_state_publisher_gui" />
    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher" />
    <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(find jetauto_description)/rviz/urdf.rviz" />
</launch>
